.caixa {
	color: white;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	vertical-align: top;
  }

  .width-and-height {
	height: 50px;
	width: 50px;
  }

  /* Insert in the class below a 20px padding to apply to items B, C e D */
  .padding {
	padding: 20px;
  }

  /* Insert in the class below a 30px margin to apply to items C e D */
  .margin {
	margin: 30px;
  }

  /* Insert in the class below a 5px solid black border to apply to item D */
  .border {
	border: 20px solid black;
  }
